@import "./tamplates";
.intro{
    &__wrapper{
        margin-top: 45px;
        width: 1280px;
        max-width: 100%;
        height: 600px;
        background-image: url("../images/Bitmap.png");
        background-repeat: no-repeat;
        background-position-x: 50%;
        padding:117px 85px 0;
        border-radius: 10px;

        
    }
    &__header{
        max-width: 493px;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
    }
    &__text{
        max-width: 445px;
        margin: 32px 0 56px;
        font-family: Barlow;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    &__btn{
        @include btns;

        
    }

    



}
@media only screen and (max-width:768px){
    .intro{
        &__wrapper{
            width: 689px;
            max-width: 100%;
            height: 500px;
            padding: 104px 58px 0;
            background-image: url(../images/bg-img-for-tablet.png);
            background-position-x: 60%;

        }
        &__header{
            max-width: 329px;
            font-size: 48px;
            line-height: 48px;
        }
        &__text{
            max-width: 398px;
            margin:24px 0 40px;
            font-size: 15px;
            line-height: 25px;
        }
    }
}
@media only screen and (max-width:376px){
    .intro{
        &__wrapper{
            width: 327pxpx;
            max-width: 100%;
            height: 500px;
            text-align: center;
            padding: 100px 24px 0; 
            background-image: url(../images/intro_phone.jpg);
            background-size:cover;
           

        }
        &__header{
            max-width: 279px;
            font-size: 36px;
            line-height: 40px;
            margin-top: auto;
        }
        &__text{
            max-width: 279x;
            font-size: 15px;
            line-height: 25px;
            margin:auto;
             margin:24px 0 40px;
        }
        &__btn{
            margin:auto;
        }

        


    }

}
