.summary{
    margin-top: 88px;
    &__wrapper{
        padding:31px 64px 0;
        max-width: 730px;
        height: 208px;
        border-radius: 10px;
        background-color: #2C343E;
        
    }
    &__header{
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.5;
    }
    &__text{
        margin-top: 8px;
        font-family: Fraunces;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
    }
    &__chosen{
        color: #0E8784;
    }
    &__btn{
        margin-top: 40px;
        @include btns;
        margin-left: auto;
    }
}
.modal{
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    background-color: rgba(0,0,0,.6);
    &__wrapper{
        max-width: 540px;
        height: 597px;
        background-color:#FEFCF7 ;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
    }
    &__header{
        height: 136px;
        padding:48px 0 0 56px;
        font-size: 40px;
        line-height: 48px;
        background-color: #333D4B;
        color: #FFFFFF;
    }
    &__chosen{
        color: #83888F;
        padding: 57px 56px 0;
    }
    &__text{
        margin-top: 7px;
        padding:0 56px;
        font-size: 16px;
        line-height: 26px;
        color: #333D4B;
        mix-blend-mode: normal;
        opacity: 0.8;
    }
    &__pay{
        margin-top: 57px;
        padding:0 56px;
        display: flex;
        align-items: center;
    }
    &__price{
        font-family: Fraunces;
        margin-right: 13px;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #333D4B;
    }
    &__btn{
        @include btns;
    }
    &__exit{
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color:#ff0000;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 30px;
        position: absolute;
        right:20px;
        top:20px;
    }
    
}
#modal{
    display: none;
}
#modal:checked ~ .modal{
    display: block;
}
.btn_phone{
    display: none;
}


@media only screen and (max-width:768px){
    .summary{
        margin-top: 144px;
        &__wrapper{
            padding:31px 44px 0;
            max-width: 689px;
            height: 208px;    
        }
        &__header{
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &__text{
            margin-top: 8px;
            font-size: 24px;
            line-height: 40px;
            color: #FFFFFF;
        }
        &__chosen{
            color: #0E8784;
        }
        &__btn{
            @include btns;
            margin: auto;
            margin-top: 40px;
        }
    }   
    
    
}
@media only screen and (max-width:376px){
    .summary{
        margin-top: 120px;
        &__wrapper{
            padding:32px 25px 0;
            max-width: 328px;
            height: 338px;    
        }
        &__header{
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #FFFFFF;
            opacity: 0.5;
        }
        &__text{
            margin-top: 8px;
            font-size: 24px;
            line-height: 40px;
            color: #FFFFFF;
        }
        &__chosen{
            color: #0E8784;
        }
        &__btn{
            @include btns;
            margin: auto;
            margin-top: 40px;
        }
    }   
    
    .modal{
        
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        background-color: rgba(0,0,0,.6);
        &__wrapper{
            max-width: 327px;
            height: 597px;
            background-color:#FEFCF7 ;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; 
        }
        &__header{
            height: 88px;
            padding:28px 0 0 24px;
            font-size: 28px;
            line-height: 32px;
            background-color: #333D4B;
            color: #FFFFFF;
        }
        &__chosen{
            color: #83888F;
            padding: 40px 24px 0;
        }
        &__text{
            margin-top: 7px;
            padding:0 24px;
            font-size: 15px;
            line-height: 25px;
            color: #333D4B;
            mix-blend-mode: normal;
            opacity: 0.8;
        }
        &__pay{
            margin-top: 20px;
            padding:0 56px;
            display: flex;
            align-items: center;
        }
        &__price{
            display: none
        }
        &__btn{
            @include btns;
            font-family: Fraunces 9pt;
            padding:15px 0;
            width: 300px;
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            
        }
        &__exit{
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            color:#ff0000;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 900;
            font-size: 30px;
            position: absolute;
            right:20px;
            top:20px;
        }
        
    }
    .btn_phone{
        display: inline;
    }
}
